<!DOCTYPE html>
<html>
<head>
  <title>SocketIO Test</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
  <h1>HQS-Agent Server</h1>
  <input id="inputMsg" type="text" placeholder="Type a message" />
  <button onclick="sendAndroidMessage()">Send to Android</button>
  <button onclick="sendUnityMessage()">Send to Unity</button>
  <input id="duration" type="number" step="1.0" placeholder="Duration (e.g., 1.0)" />
  <button onclick="sendDuratoin()">Set Duration</button>

  <button onclick="clearMessages()">Clear</button> 
  <div id="messages"></div>

  <script>
    const androidSocket = io("/android");

    androidSocket.on('connect', () => {
      console.log('[Android] Connected to server');
    });

    androidSocket.on('server_response', (data) => {
      appendMessage(`${data.message}`);
    });

    const unitySocket = io("/unity");

    unitySocket.on('connect', () => {
      console.log('[Unity] Connected to server');
    });

    unitySocket.on('server_response', (data) => {
      appendMessage(`${data.message}`);
    });

    function sendAndroidMessage() {
      const msg = document.getElementById('inputMsg').value;
      androidSocket.emit('client_message', { message: msg });
    }

    function clearMessages() {
      document.getElementById('messages').innerHTML = '';
    }

    function sendUnityMessage() {
      const msg = document.getElementById('inputMsg').value;
      unitySocket.emit('client_message', { message: msg });
    }

    function appendMessage(msg) {
      const div = document.createElement('div');
      div.textContent = msg;
      document.getElementById('messages').appendChild(div);
    }

    function sendDuratoin() {
      const rateInput = document.getElementById('duration').value;
      const rate = parseFloat(rateInput);

      if (!isNaN(rate) && (rate >= 1.0)) {
        androidSocket.emit('duration_message', rate);
      } else {
        alert("Please enter a valid float number for duration.");
      }
    }


  </script>
</body>
</html>
